@mixin heroTitle {
    font-size: clamp(3rem, 5vw, 7rem);
}

.title-1 {
    font-size: 3rem;
    font-weight: 600;
}
.title-2 {
    font-size: 2rem;
    font-weight: 600;
}
.title-3 {
    font-size: 1.5rem;
    font-weight: 600;
}