.kitchenRemodelingHero {
    @include container;
    text-align: center;
    min-height: 80vh; 
    display: grid;
    place-content: center;
}

.heroTitle {
    @include heroTitle;
    font-weight: bold;
    margin-block-end: 2rem;
}
.heroContent {
    font-size: 2rem;
    width: 80%;
    margin-inline: auto;
}

.ctaBanner {
    background-color: #202020;
    color: #f2f2f2;
    text-align: center;
    padding: 6rem 0;

    .bannerContentTitle {
        font-size: 4rem;
        width: 60%;
        margin-inline: auto;
        margin-block-end: 2rem;
    }
}

// our four
.ourFour {
    @include container;
    padding-block-start: 3rem;
    .ourFourContainer {
        display: flex;

        .card {
            padding: 3rem 1rem 2rem;
        }
    }
}