.logo {
    font-size: 2rem;
    font-weight: 600;
}

.mainNav {
    @include container;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    padding: 1.75rem 0;

    .nav {
        width: 100%;
        display: flex;
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: 2px;
        .linkNav {
            padding: .75rem 1.5rem;
            margin-inline-start: auto;
            margin-inline-end: auto;
        }
        .linkNav:hover {
            background-color: lightgray;
        }
    }
}
